name: hof
"on":
  - push
env:
  HOF_TELEMETRY_DISABLED: "1"
jobs:
  test:
    concurrency:
      group: ${{ github.workflow }}-${{ matrix.os }}-${{ matrix.go }}-${{ github.ref_name }}
      cancel-in-progress: true
    strategy:
      fail-fast: false
      matrix:
        go:
          - 1.22.x
          - 1.21.x
        os:
          - ubuntu-latest
          - macos-13
    environment: hof mod testing
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      - uses: actions/cache@v4
        with:
          path: |-
            ~/go/pkg/mod
            ~/.cache/go-build
            ~/Library/Caches/go-build
            ~\AppData\Local\go-build
          key: ${{ runner.os }}-go-${{ matrix.go }}-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-${{ matrix.go }}-
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Vars
        id: vars
        run: |-
          SHA=${GITHUB_SHA::8}
          TAG=$(git tag --points-at HEAD)
          echo "HOF_FMT_VERSION=${TAG}" >> $GITHUB_ENV
          if [ -z $TAG ]; then
          	TAG=${SHA}
          fi
          echo "HOF_SHA=${SHA}" >> $GITHUB_ENV
          echo "HOF_TAG=${TAG}" >> $GITHUB_ENV
      - name: Set up Docker
        uses: crazy-max/ghaction-setup-docker@v3
        with:
          version: v24.0.7
        env:
          SIGN_QEMU_BINARY: "1"
          COLIMA_START_ARGS: --cpus 3 --memory 10 --disk 12
        if: ${{ startsWith( runner.os, 'macos') }}
      - name: Setup MacOS docker socket
        run: echo "DOCKER_HOST="unix://$HOME/.lima/docker-actions-toolkit/docker.sock"" >> $GITHUB_ENV
        if: ${{ startsWith( runner.os, 'macos') }}
      - name: Test Compatibility
        run: |-
          docker version
          docker info
          docker context ls
          go run test/docker/main.go
      - name: Fetch Go deps
        run: go mod download
      - name: Build CLI
        run: go install ./cmd/hof
      - name: Start Formatters
        run: |-
          docker images
          hof fmt start @v0.6.8
          hof fmt info
          docker ps -a
    services: {}
